<h1>Carrito:  {{cid}}</h1>
<hr>
{{#each products}}
<p>Producto: {{_id.title}} </p>
<p>Producto Id: {{_id._id}} </p>
<p>Cantidad: {{quantity}} </p>
<img src={{_id.thumbnail}} alt="{{_id.title}}" width="100px">
<hr>
{{/each}}