<p>{{title}} </p>
<p>Descripción: {{description}} </p>
<p>Precio: ${{price}} </p>
<p>Cartegoría: {{category}} </p>
<img src={{thumbnail}} alt={{title}}>
<br>
<a href=""><button>Agregar al carrito</button></a>